<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCX2j8bJ4_PZxwfU_PAlEmqnnezy9EExFg</string>
	<key>GCM_SENDER_ID</key>
	<string>372498052615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.STSGaming</string>
	<key>PROJECT_ID</key>
	<string>sts-gaming</string>
	<key>STORAGE_BUCKET</key>
	<string>sts-gaming.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372498052615:ios:1779ed92b737e9477a9ca2</string>
</dict>
</plist>